@font-face {
    font-family: 'Kayak Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Kayak Sans Regular'), url('kayak-sans-cufonfonts-webfont/Kayak\ Sans\ Regular.woff') format('woff');
}  

html {
    background-color: #3AAFA9;
    font-size: 18px;
}

body {
    margin: 0;
    
font-family: 'Kayak Sans Regular';
}

nav {
    display: none;
}
s
.container {
    margin: 3rem 0;
}

.top-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: left;

    justify-content: center;
}

.top-container * {
    padding-left: 1.5rem;
    margin: 0.67rem 0rem;
}

#main-heading {
    font-size: 3rem;
    font-weight: 400;
}
#black-period {
    padding-left: 0rem;
}

#intro {
 line-height: 2.5rem;
 color: #DEF2F1;
}

.bottom-container {
    text-align: center;
}

.flags-container {
 display: none;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

#main-cta {
    display: inline-block;
    font-size: 0.9rem;
    height: 3rem;
    width: 7rem;
    border: 2px solid #2B7A78;
    border-radius: 0.6rem;
    background-color: white;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, .25), -9px -9px 9px rgba(255, 255, 255, .42);
}

.button-container {
    display: flex;
}

.horizontal-line {
}

#nihao-background {
    position: absolute;
    font-size: 20rem;
    top: -16rem;
    left: 3rem;
    color: rgba(0, 0, 0, .05);
    line-height: 20rem;
    z-index: -1;
}
